<div class="col mb-4 card-container">
  <div class="card hoverable">
    <div class="row no-gutters h-100">
      {% if project.img %}
        <div class="col-md-6 align-self-center">
          {% include figure.liquid loading="eager" path=project.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" class="card-img" %}
        </div>
      {% endif %}
      <div class="{% if project.img %}col-md-6{% else %}col-md-12{% endif %}">
        <div class="card-body h-100 d-flex flex-column">
          <h3 class="card-title">{{ project.title }}</h3>
          <p class="card-text">{{ project.description }}</p>
          <div style="display:none;">{{ project.category }}</div>
          {% if project.github %}
            <div class="row ml-1 mr-1 p-0">
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="tag-container">
    {% include tag_badges.liquid tags=project.tags %}
    </div>
    <a class="stretched-link" href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}"></a>
  </div>
</div>
