{% capture build_dir %}{{site.unity_webgl_build_dir}}{{include.build_name}}{% endcapture %}
{% capture loader_file %}{{ build_dir }}/{{include.build_name}}{{".loader.js" }}{% endcapture %}
{% capture data_file %}{{ build_dir }}/{{include.build_name}}{{".data.unityweb" }}{% endcapture %}
{% capture framework_file %}{{ build_dir }}/{{include.build_name}}{{".framework.js.unityweb" }}{% endcapture %}
{% capture code_file %}{{ build_dir }}/{{include.build_name}}{{".wasm.unityweb" }}{% endcapture %}

<div class="row mb-4 unity-holder justify-content-center">
<canvas id="unity-canvas" width=960 height=600 tabindex="-1" style="width: 960px; height: 600px; background: #231F20"></canvas>
</div>
<script src="{{loader_file}}"></script>
<script>
if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
    // Mobile device style: fill the whole browser client area with the game canvas:
    var meta = document.createElement('meta');
    meta.name = 'viewport';
    meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
    document.getElementsByTagName('head')[0].appendChild(meta);

    var canvas = document.querySelector("#unity-canvas");
    canvas.style.width = "75%";
    canvas.style.height = "75%";

    document.body.style.textAlign = "left";
}

createUnityInstance(document.querySelector("#unity-canvas"), {
    arguments: [],
    dataUrl: "{{data_file}}",
    frameworkUrl: "{{framework_file}}",
    codeUrl: "{{code_file}}",
    streamingAssetsUrl: "StreamingAssets",
    companyName: "ozro",
    productName: "SnakeOut",
    productVersion: "1.0",
    // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
    // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
});
</script>